<div class="login-container">
    <img class="logo-img" src="assets/logo.png" alt="GreatFlix"/>
    <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" (keyup.enter)="executeLogIn()">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Password" type="password" [(ngModel)]="password" (keyup.enter)="executeLogIn()">
    </mat-form-field>
    <button mat-raised-button color="primary" mat-button (click)="executeLogIn()">Log In</button>
</div>