<div class="metrics-container">
    <div class="most-watched-header">
        <h1 class="mat-h1 h1-end h1-margin">Most watched movies in</h1>
        <mat-form-field class="country-select" color="secondary">
            <mat-label>Country</mat-label>
            <mat-select (selectionChange)="countryChanged($event)" [(ngModel)]="selectedCountry">
              <mat-option *ngFor="let country of countries" [value]="country">
                {{country}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <movies-horizontal-list *ngIf="selectedCountry" [movies]="mostWatched"></movies-horizontal-list>
    <h2 class="mat-h2 h2-center" *ngIf="!selectedCountry">Select a country</h2>
    <mat-divider></mat-divider>

    <h1 class="mat-h1 h1-margin">Top 3 users</h1>
    <top-user-list></top-user-list>
    <mat-divider></mat-divider>    

    <h1 class="mat-h1 h1-margin">Most watched genres</h1>
    <most-watched-genres></most-watched-genres>
</div>

