<mat-toolbar color="primary">
    <mat-toolbar-row>  
        <mat-icon class="example-icon" routerLink="/" routerLinkActive="active" aria-hidden="false" aria-label="Metrics">home</mat-icon>
        <span>{{title}}</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" routerLink="/metrics" routerLinkActive="active" aria-hidden="false" aria-label="Metrics">graphic_eq</mat-icon>
        <mat-icon class="example-icon" routerLink="/profile" routerLinkActive="active" aria-hidden="false" aria-label="Account">account_circle</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>